.alert{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
    background: #9c0000;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
